#hero-section{background-color: aqua;}
.file{background-color: palevioletred; display:inline-block;width:200px;height:100px;padding:20px; }
#no-charges{width:400px;}
#herotext-section{ margin-left:auto; margin-right:auto;width:500px;}
#file-section{margin-left:auto; margin-right:auto;width:1000px;color: whitesmoke;}
nav{;background-color: ; display: inline-block;}
header{display: flex; justify-content:space-around; align-items: center;}
a{padding:10px;}
div{background-color;color: aqua;display: inline-block;}
li{width:200px;}